PyHamcrest >= 2.0.2;
traceback2 >= 1.4.0;
parse >= 1.18.0
parse_type >= 0.5.2
py >= 1.4.17
tox >= 3.10.0
pytest
pylint
twine
modernize
testresources
git+https://github.com/behave/behave
./ngsi-ld-api
./ishare-credentials-api
./endpoint-auth-service-api